* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(248, 155, 78, .5);
    background: linear-gradient(to right, rgba(238, 194, 156, 0.5), rgba(240, 183, 137, 0.5));
}

/* Nav Section */

.navbar {
    background: rgb(253, 175, 111, .8);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: rgb(241, 223, 171, .5);
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-shadow: 1px 1px rgb(209, 186, 159);
    font-weight: 300;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: rgb(245, 245, 220);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 40px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: rgb(253, 175, 111, .95);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 15px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 7px 25px;
        transition: all 0.3s ease-in-out;
        background-color: rgb(248, 248, 222);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobil-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Portfolio Stylization */

.portfolio__container {
    overflow: initial;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.portfolio__content {
    padding: 0 1.5rem;
    margin: 2rem;
}

.section__title {
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    align-content: center;
    letter-spacing: .5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(19, 19, 19, .4);
    text-decoration: line-through;
}

.portfolio__img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
    padding-top: 5rem;
}

.portfolio__title {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}

.portfolio__description {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 1rem;
}

.portfolio__button {
    text-decoration: none;
    list-style: none;
    padding-right: 2.5rem;
    font-size: 1rem;
    background-color: rgb(17, 17, 17, .5);
    padding: 10px 30px;
    border: outset;
    border-radius: 4px;
    border-color: rgb(49, 49, 49, .5);
    color: rgb(241, 177, 135);
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    border-radius: 2rem;
}

.portfolio__button:hover .button__icon {
    transform: translateX(.25rem);
}

.portfolio__button:hover {
    background-color: rgb(243, 243, 221, .3);
}

/* =====Skills Stylization ===== */

/* Skills Header Section */

.skills__title-head {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: .25rem;
}

.skills__subtitle-head {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: .25rem;
}

/* Skill Levels */

.skills__container {
    row-gap: 0;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
    padding-left: 10rem;
    padding-right: 10rem;
}

.skills__icon, .skills__arrow {
    font-size: 2rem;
    color: rgb(15, 15, 15, .7);
}

.skills__icon {
    margin-right: 1.2rem;
    padding-top: 3rem;
}

.skills__arrow {
    margin-left: auto;
    transition: .5s;
    margin-right: 1rem;
    padding-top: 3rem;
}

.skills__list {
    row-gap: 1.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.skills__title02 {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3rem;
}

.skills__subtitle02 {
    font-size: 1rem;
    color: black;
    font-style: italic;
}

.skills__arrow:hover {
    color: rgba(247, 181, 100, 0.5);
}

.skills__title01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.skills__name {
    font-size: 1.2rem;
    font-weight: 300;
}

.skills__bar, .skills__percentage {
    height: 10px;
    border-radius: .25rem;
    margin-bottom: 2.5rem;
}

.skills__bar {
    background-color: rgba(228, 168, 161, 0.4);
}

.skills__percentage {
    display: block;
    background-color: rgb(231, 145, 133, .8);
}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 95%;
}

.skills__java {
    width: 75%;
}

.skills__js {
    width: 80%;
}

.skills__py {
    width: 85%;
}

.skills__php {
    width: 50%;
}

.skills__cpp {
    width: 75%;
}

.skills__csc {
    width: 65%;
}

/*.skills__closed .skills__list {
    height: 0;
    overflow: hidden;
}*/

.skills__open .skills__list {
    height: max-content;
    margin-bottom: 2.5rem;
}

/*.skills__open .skills__arrow {
    transform: rotate(-180deg);
}*/

@media screen and (max-width: 400px) {
    .skills__list {
    row-gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    }

    .skills__title02 {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3rem;
    align-items: center;
    }

.skills__subtitle02 {
    font-size: 1rem;
    color: black;
    font-style: italic;
    align-items: center;
    }

    .skills__icon {
    margin-right: 1.2rem;
    padding-top: 3rem;
    }

.skills__arrow {
    margin-left: auto;
    transition: .5s;
    margin-right: 1rem;
    padding-top: 3rem;
    padding-left: 3rem;
    }

    .skills__icon {
    margin-right: 1.2rem;
    padding-top: 3rem;
    margin-left: -8rem
    }

}